/**
 * Deze CSS is gebaseerd op de ALA Satang Jabang, de auteurs zijn de groep van die ALA
 * @author Bryan Kho, Laurens Trotsenburg, Jayant Schuil, Brenda Verdoold, Roy Vissers
 */
html {
    margin: 0;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    background-color: white;
    background-image: url(../images/SatangJabangBackground.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.content {
    margin: auto;
    margin-top: 11%;
    width: 80%;
    clear: both;
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: right;
    overflow: hidden;
}
.navbutton {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    float: left;
    background-color: rgb(245, 197, 44);
    border: none;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
}
.navbutton:hover {
    background-color: rgb(205, 157, 4);
}
.themeselector {
    position: fixed;
    float: right;
    right: 0;
    margin: 20px;
}
.themeselector tr p {
    text-align: center;
}
.themeselector tr td {
    text-align: center;
}
.themeselectimage{
    height: 50px;
    cursor: pointer;
}
@media (max-width:600px) {
    .themeselector {
    position: relative;
    float: none;
    margin: 0;
    background-color: rgb(245, 197, 44);
    clear: both;
    width: 100%;
    }
    .themeselector tr td {
    width: calc(100% / 3);
    }
}
.container {
    margin: auto;
    padding: 0;
    min-height: 50px;
    clear: both;
}
.feedbackcontainer {
    clear: none;
    float: right;
    text-align: center;
    width: 65%;
}
#score {
    font-size: 15pt;
}
.feedbackimage {
    width: 200px;
    display: none;
    margin: 0 auto;
}
.menucontainer {
    float: left;
    height: 100%;
    Width: 100%;
    background-color: rgb(245, 197, 44);
}
h1 {
    margin: 0px;
    font-family: Raleway, sans-serif;
    font-size: 35pt;
    font-weight: normal;
    color: #333333;
    text-align: center;
    clear: both;
}
.header{
    position: relative;
    top: 50px;
    clear: none;
    z-index: -1;
}
@media (max-width:800px) {
  .header {
    font-size: 30pt;
    width: 80%;
  }
}
@media (max-width:600px) {
  .header {
    top: 30px;
    width: 100%;
  }
}
p {
    margin: 0px;
    font-family: Raleway, sans-serif;
    font-size: 20pt;
    font-weight: normal;
    color: #333333;
}
#instructie {
    text-align: center;
    clear: both;
}
.output {
    margin: 10px;
}
.button {
    margin-left: auto;
    margin-right: auto;
    float: left;
    background-color: rgb(245, 197, 44);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    height: 50px;
    min-width: 55px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(205, 157, 4);
}
#checkanswersbutton{
    width: 100%;
}
.answer{
    width: 40px;
    height: 18pt;
}
.equation{
    border: none;
    background-color: rgba(255,255,255,0.0);
    font-family: Raleway, sans-serif;
    font-size: 20pt;
    color: black;
    width: 25%;
}
.transparentbutton {
    background-color: Transparent;
    border: none;
    text-align: center;
    font-family: Raleway, sans-serif;
    cursor: pointer;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/raleway.ttf);
}